* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

/*SAVE SECTION*/
.save-section {
    text-align: center;
    top: auto;
    /*margin: 3em auto;*/
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}
    .header a {
        color: white;
    }
    .header .brand-title input {
        width: 75%;
        float: left;
    }

    .header i.fa-pencil {
        font-size: medium;
        vertical-align: middle;
    }

.nav-menu {
    text-align: center;
    top: auto;
    /*margin: 3em auto;*/
}


.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    float: right;
}
.nav-item a {
    background: transparent;
    border: 2px solid transparent;
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .save-section {
        margin: 80% 2em 0;
        text-align: right;
    }

    .header {
        margin: 80% .50em 0 2em;
        text-align: right;
    }
    .header input {
        width: 75%;
        float: left;
    }

    .nav-menu {
        /*margin: 80% 2em 0;*/
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

/*CUSTOM MENU*/
.nav-menu ul {
    list-style: none;
    padding: 0;
}
    .nav-menu ul .menu-inner {
        padding-left: 1em;
        overflow: hidden;
        display: none;
    }
    .nav-menu ul a {
      color: white;
      padding: .75em .50em .75em 0;
    }
    .nav-menu ul a i {
      color: white;
      padding: 0 .50em 0 0;
    }
    .nav-menu ul input {
      color: white;
      padding: .75em .50em .75em 0;
    }
    .nav-menu ul li {
         margin: .5em 0;
    }
    .nav-menu ul li a[class*="menu-"] {
        width: 100%;
        display: block;
    }
    .nav-menu ul li a.menu-folder {
        background: rgba(0, 0, 0, 0.78);
        color: #fefefe;
        /*padding: .75em .50em;*/
        border-radius: 0.15em;
        transition: background .3s ease;
    }
    .nav-menu ul li a.menu-folder:hover {
        text-decoration: none;
        background: rgba(0, 0, 0, 0.9);
    }
    /*.nav-menu ul li a.menu-folder {*/
    /*    width: 100%;*/
    /*    display: block;*/
    /*    background: rgba(0, 0, 0, 0.78);*/
    /*    color: #fefefe;*/
    /*    /*padding: .75em .50em;*/*/
    /*    border-radius: 0.15em;*/
    /*    transition: background .3s ease;*/
    /*}*/
    /*.nav-menu ul li a.menu-folder:hover {*/
    /*    background: rgba(0, 0, 0, 0.9);*/
    /*}*/

/*MENU ICONS*/
.fi-folder-add{
    font-size: 1.25em;
}

.nav-menu i {
    vertical-align:top;
}


/*END CUSTOM MENU*/

/*CUSTOM INPUT*/
input[type="text"].custom-input {
    background: transparent;
    text-align: right;
    width: 100%;
    border: none;
    color: inherit;
    word-wrap: break-word;
    /*border-bottom: solid 2px #fff;*/
    transition: border 0.3s;
    /*float: left;*/
}

    .brand-title input[type="text"].custom-input {
        width: 80%;
        /*text-transform: uppercase;*/
    }

    .brand-tagline input[type="text"].custom-input {
        width: 80%;
    }

    /*.menu-folder.custom-input input[type="text"] {*/
    .nav-menu input[type="text"].custom-input  {
        width: 75%;
        float: left;
    }


.custom-input input[type="text"]:focus,
.custom-input input[type="text"].focus {
    word-wrap: break-word;
    /*border-bottom: solid 2px #fff;*/
}
/*.custom-input input[type="text"] {*/
/*    background: transparent;*/
/*    text-align: right;*/
/*    width: 100%;*/
/*    border: none;*/
/*    color: inherit;*/
/*    word-wrap: break-word;*/
/*    /*border-bottom: solid 2px #fff;*/*/
/*    transition: border 0.3s;*/
/*    /*float: left;*/*/
/*}*/
/**/
/*    .brand-title.custom-input input[type="text"] {*/
/*        text-transform: uppercase;*/
/*    }*/
/**/
/*    /*.menu-folder.custom-input input[type="text"] {*/*/
/*    a.custom-input input[type="text"] {*/
/*        width: 75%;*/
/*        float: left;*/
/*    }*/
/**/
/**/
/*.custom-input input[type="text"]:focus,*/
/*.custom-input input[type="text"].focus {*/
/*    word-wrap: break-word;*/
/*    /*border-bottom: solid 2px #fff;*/*/
/*}*/
